html,
body {
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  color-scheme: dark;
}

a{
  cursor:pointer;
  text-decoration: underline;
  color: #b9e4aa;
  font-weight: bold;
}
a > svg{
  color: #fff;
}

textarea:focus{
  outline: none;
}
